@use '../../styles' as *;

.rs-header {
  .rs-navbar {
    &-brand {
      padding: 2px 20px 0 20px;
      display: grid;
      place-items: center;
    }
    
  }
}
.content-div {
  height: 100%;
  padding: 30px;
}