@use '../../styles' as *;

.Login-container {
  main {
    > div {
      margin-top: 300px;
    }
  }
  .rs-header {
    .rs-navbar {
      &-brand {
        padding: 0 20px;
        display: grid;
        place-items: center;
      }
    }
  }
}